/* line 1, /Users/randym/emberjs-i18n/assets/styles/app.sass */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #666666;
  padding-top: 20px;
}

/* line 10, /Users/randym/emberjs-i18n/assets/styles/app.sass */
a {
  color: #666666;
  text-decoration: none;
}

/* line 14, /Users/randym/emberjs-i18n/assets/styles/app.sass */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 19, /Users/randym/emberjs-i18n/assets/styles/app.sass */
li {
  padding: 0;
}

/* line 21, /Users/randym/emberjs-i18n/assets/styles/app.sass */
.page {
  margin-left: auto;
  margin-right: auto;
}

/* line 25, /Users/randym/emberjs-i18n/assets/styles/app.sass */
.container-body {
  border: 1px solid #666666;
  padding: 20px;
}

/* line 29, /Users/randym/emberjs-i18n/assets/styles/app.sass */
.container-header {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-left: auto;
  margin-right: auto;
  background-color: #666666;
  color: #dddddd;
  font-size: 1.5em;
  padding-left: 20px;
  line-height: 36px;
}
